<!DOCTYPE html>
<html class="Page no-js" lang="cs">
<head>
    <meta charset="utf-8">
    <block name="title"></block>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <script>
        document.documentElement.classList.replace("no-js", "js");
    </script>
    <link rel="stylesheet" href="assets/styles/main.sass">
</head>
<body>
    <block name="content"></block>
    <script src="assets/scripts/main.js"></script>
</body>
</html>
